.main{
    margin-bottom: 70px;
}

.main__products{
    display: grid;
    grid-template-columns: 250px 1fr; 
    gap: 20px;
}

.main__filtro{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 130px;
}

.filtro {
    width: 100%;
    appearance: none; 
    border: none;
    outline: 1px solid  rgb(85, 85, 85);
    padding: 8px;
    background-color:transparent;
    color: #fff;
    cursor: pointer;
}

.custom-select::after {
    content: "▾";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
}

.custom-select:hover .filtro {
    background-color: rgb(53,53,53);
    outline: 1px solid  rgb(85, 85, 85);
}

.main__sideBar{
    background-color: rgb(10, 10, 10);
    padding: 30px;
    border-radius: 10px;
    height: fit-content;
}

.main__sideBar p{
    margin-bottom: 20px;
}

.sideBar-item:not(:last-child) {
    margin-bottom: 15px; 
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 10px;
}




