.main{
    margin-bottom: 70px;
}

.main__products{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 40px;

}

.main__sideBar{
    background-color: rgb(10, 10, 10);
    padding: 30px;
    border-radius: 10px;
    height: fit-content;
}

.main__sideBar p{
    margin-bottom: 20px;
}

.sideBar-item:not(:last-child) {
    margin-bottom: 15px; 
}

.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    justify-content: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 769px) {
    .main__products{
        grid-template-columns: 1fr;
    }
}
