body{
    background-image: url(../img/contact-bg-cut.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    gap: 60px;
    height: 100vh;
}

.text p{
    margin-top: 15px;
}

form{
    background-color: #131313f6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
    align-items: center;
}

form input,
form textarea{
    border: none;
    background-color: #0F0F0F;
    padding: 20px;
    width: 100%;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.form-btn{
    width: 200px;
    text-transform: uppercase;
}

input:focus,
textarea:focus{
    outline: 1px solid #313131;
}

textarea{
    resize: none;
    height: 150px; 
}

